<div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-top-panel rd-navbar-light" data-lg-stick-up-offset="79px"
        data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-auto-height="true"
        data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
        <div class="container">
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button class="rd-navbar-toggle"
                        data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                    <!-- RD Navbar Top Panel Toggle-->
                    <button class="rd-navbar-top-panel-toggle"
                        data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel"><span></span></button>
                    <!--Navbar Brand-->
                    <div class="rd-navbar-brand"><a href="../index.html"><img width='217' height='36'
                                src='../../../assets/images/logo-dark.png' alt='' /></a></div>
                </div>
                <div class="rd-navbar-menu-wrap">
                    <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                            <!--Navbar Brand Mobile-->
                            <div class="rd-navbar-mobile-brand"><a href="../index.html"><img width='217' height='36'
                                        src='../../../assets/images/logo-dark.png' alt='' /></a></div>
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li><a routerLink="/home"><span>Home</span></a>
                                </li>
                                <li><a href="catalog.html"><span>Catalog</span></a>
                                </li>
                                <li><a href="submit-property.html"><span>Submit Property</span></a>
                                </li>
                                <li><a href="services.html"><span>Services</span></a>
                                </li>
                                <li><a href="about.html"><span>About</span></a>
                                </li>
                                <li><a href="contact.html"><span>Contacts</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>